$background-color : hsl(257 40% 49%);
$accent-color : hsl(300 69% 71%);

$primary-font-family : 'Poppins',
sans-serif;
$secondary-font-family : 'Open Sans',
sans-serif;

$font-weight-400 : 400;
$font-weight-600 : 600;

body {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: $background-color;
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;

    @media only screen and (width < 450px) {

        background-image: url(/images/bg-mobile.svg);
        flex-direction: column;
        width: 370px;

    }
}

.global {
    margin-top: 64px;

    @media only screen and (width < 450px) {
        margin-top: 38px;
    }
}

.logo {
    width: 200px;
    margin-bottom: 4rem;

    @media only screen and (width < 450px) {
        width: 120px;
        margin-left: 2rem;
        margin-bottom: 3rem;    
    } 
}

main {
    display: flex;

    @media only screen and (width < 450px) {

        flex-direction: column;
        width: 370px;
        align-items: center;

    }
}

.preview {
    width: 696px;
    height: 493px;

    @media only screen and (width < 450px) {
        width: 296px;
        height: 209px;
    }

}

.text {
    padding: 2rem 4rem;

    @media only screen and (width < 450px) {
        text-align: center;
        padding: 2rem 2rem;
        width: 304px;
    }

    h1 {
        font-family: $primary-font-family;
        font-weight: $font-weight-600;
        font-size: 40px;
        color: white;
        width: 20ch;
        line-height: 60px;

        @media only screen and (width < 450px) {
            font-size: 24px;
            width: 304px;
            line-height: 36px;
        }
    }

    p {
        font-family: $secondary-font-family;
        font-weight: $font-weight-400;
        font-size: 18px;
        color: white;
        width: 50ch;
        line-height: 27px;

        @media only screen and (width < 450px) {
            font-size: 16px;
            width: 304px;
        }
    }

    button {
        width: 200px;
        height: 56px;
        background-color: white;
        color: $background-color;
        font-family: $primary-font-family;
        font-weight: $font-weight-400;
        font-size: 18px;
        border: none;
        border-radius: 28px;
        box-shadow: 0px 20px 30px 0px rgba(60, 43, 105, 0.725);
        cursor: pointer;

        &:hover {
            background-color: $accent-color;
            color: white;

        }

        @media only screen and (width < 450px) {
            height: 40px;
            font-size: 12px;
            margin: 2rem;
        }
    }
} 

.social {
    display: flex;
    position: relative;
    left: 1200px;
    gap: 36px;

    a {
        border-radius: 100%;
        color: white;
        outline: 2px solid white;
        padding: 10px;
        margin: -10px;

        .icon {
            width: 20px;
            height: 20px;
            color: white;
        }
    }

    @media only screen and (width < 450px) {
        left: 0px;
        justify-content: center;
        gap: 30px;

        a {

            outline: 1px solid white;
            padding: 8px;
            margin: -8px;

            .icon {
                width: 14px;
                height: 14px;
            }
        }

    }
}

.social a:hover {
    outline: 2px solid $accent-color;

    .icon {
        color: $accent-color;
    }
}